body {
  background-color: #eef1f5;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.container {
  display: flex;
}

.left-half {
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

.valid {
  color: green;;
}

.invalid {
  color: red;
}
